* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/contactus.jpg');
	background-repeat: no-repeat;
	background-position: center center fixed 100%;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.header {
	font-size: 40px;
	padding: 1em 0 1.3em 0;
	text-align: center;
	color: #ededed;
	font-family: 'Bungee Shade';
	-webkit-animation-name: blinker;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 7s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; color: white;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
}

@-webkit-keyframes blinker { 
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; } 
} 

@keyframes blinker { 
    0% { opacity: 1.0; } 
    50% { opacity: 0.3; } 
    100% { opacity: 1.0; } 
}

.jumbotron {
	background: rgb(200, 54, 54);
	background: rgba(200, 54, 54, 0.5);
}

#jumbo {
	background: rgb(200, 54, 54);
	background: rgba(39, 40, 44, 0.3);
	padding: 1em 1em 2em 3em;
	color: white;
	font-family: 'Raleway Dots';
}

#white {
	background: rgb(39, 40, 44, 0.15);
}

.big {
	font-weight: bold;
    padding: 0 .3em 0 0;
}

.letstalk {
    font-weight: bold;
    padding: .3em 0 .3em 0;
}

a {
	font-weight: bold;
}

.icons {
	max-height: 
	margin: 0 auto;
	overflow: auto;
	padding: 0 3em 1em 0;
}

.icon {
	max-width: 5em;
	padding-left: 10px;
	opacity: .4;
}

.img {
	max-width: 100%;
	height: auto;
}


.email {
	color: #ededed;

}

li img {
	float: left;
	margin: 17px;
	border: 2px;
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

li img: hover {
	-webkit-box-shadow: 0 0 7px rgba(189, 193, 240,0.9);
	box-shadow: 0 0 7 rgba(189, 193, 240,0.9);
}

ul {
	list-style: none;
}

.glyphicon {
    margin: 1em auto;
    position: fixed;
}

/* footer */
.page-footer {
	font-family: 'Raleway Dots';
	color: #ededed;
	background-color: #6E6D6C;
	padding: 3em 1em 6em 1em;
}

.footer-li {
	font-family: 'Raleway Dots';
	color: #ededed;
}

ul {
	list-style: none;
}

.glyphicon {
    margin: 1em auto;
    position: fixed;
    opacity: .2;
}

/* sidenav */
.span {
	padding: .3em;
	color: #ededed;
	position: fixed;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #908E8D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 28px 8px 8px 18px;
    text-decoration: none;
	font-family: 'Raleway Dots';
	font-weight: bold;    
    font-size: 20px;
    text-align: center;
    color: #ededed;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
    margin-left: 50px;
}

.dropdown {
	list-style: none;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* sidenav ends*/